@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope{
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

/* shared style */
.btn-primary{
    font-size: 1.125rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 18px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(270.00deg, rgb(255, 0, 0) 0%,rgb(255, 137, 56) 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-title{
    font-size: 2.81rem;
    font-weight: 800;
    color: rgb(28, 28, 28);
    line-height: 50px;
}
.section-description{
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
    color: rgb(119, 119, 119);
}



/* banner related style starts here */
header{
    display: flex;
    justify-content: center;
    margin-top: 67px;
    margin-left: 11%;
}
.header-relative{
    display: flex;
    gap: 10px;
    /* margin-left: 150px; */
}
.banner-text{
    width: 628px;
    height: 499px;

}
.banner-img{
    width: 655px;
    height: 499px;
    margin-top: 67px;
    position: relative;
    border: 2px dashed rgba(119, 119, 119, 0.425);
}
.banner-img img{
    width: 100%;
    height: 100%;
}
.up-right-arrow{
    margin-left: 10px;
}
.banner-title{
    font-size: 5.3rem;
    font-weight: 800;
    color: rgb(28, 28, 28);
    line-height: 100px;
    margin: 0;
}
.banner-description{
    color: rgb(119, 119, 119);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
}
.banner-card{
    width: 255px;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    left: 10%;
    bottom: 2%;
}
.star{
    color: gold;
    font-size: 2rem;
}
.banner-card-title{
    font-size: 1.9rem;
    font-weight: 800;
    margin: 0;
}
.card-description{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(119, 119, 119);
    margin: 0;
}
/* banner related style ends here */
/* product section related style starts here */
.product{
    max-width: 1140px;
    margin: 130px auto;
}
.product-text-1{
    width: 901px;
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.product-container{
    display: flex;
    justify-content: space-between;
}
.product-sample{
    width: 267px;
    border-radius: 10px;background: linear-gradient(180.00deg, rgb(244, 244, 244),rgba(244, 244, 244, 0) 100%);
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}
.product-img{
    width: 135px;
    height: 235px;
    border: 2.3px dashed rgba(128, 128, 128, 0.401);
    margin: 0 auto;
    border-radius: 2px;
}
.product-img img{
    width: 100%;
    height: 100%;
}
.product-text{
    width: 208px;
    height: 84px;
    margin: 0 auto;
    text-align: center;
}
.product-text-title{
    font-size: 1.56rem;
    font-weight: 800;
    color: rgb(28, 28, 28);
    margin-bottom: 15px;
}
.product-text-description{
    font-size: 1rem;
    font-weight: 600;
    line-height: 22px;
    color: rgb(119, 119, 119);
}
/* product section related style ends here */
/* great tea section related style starts */
.great-tea{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.great-tea-img-container{
    width: calc(50% - 5px);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 30px;
    padding: 20px;
}
.great-tea-text{
    width: calc(50% - 5px);
    margin-top: 20px;
}
.grid-box{
    border-radius: 10px;
    width: 238px;
}
.great-tea-img-1{
    grid-column: 1/span 6;
    grid-row: 1/span 3;
    background: linear-gradient(270.00deg, rgb(255, 0, 0) 0%,rgb(255, 137, 56) 100%);
    opacity: 0.1;
    transform: rotate(-180.00deg);
    height: 136px;
  
}
.great-tea-img-2{
    grid-column: 7/span 6;
    grid-row: 1/span 9;
    background: rgba(230, 166, 35, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 355px;
    
}
.great-tea-img-3{
    grid-column: 1/span 6;
    grid-row: 4/span 9;
    background: rgba(87, 118, 57, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 355px;
   
}
.great-tea-img-2 > div{
    width: 177px;
    height: 266px;
    border: 2.3px dashed rgba(128, 128, 128, 0.401);
    margin-top: 20px;

}
.great-tea-img-3 > div{
    width: 146px;
    height: 270px;
    border: 2.3px dashed rgba(128, 128, 128, 0.401);
}
.great-tea-img-2 > div img, .great-tea-img-2 > div img{
    width: 100%;
    height: 100%;
}
.great-tea-img-4{
    grid-column: 7/span 6;
    grid-row: 8/span 3;
    background: linear-gradient(90.00deg, rgb(217, 217, 217),rgba(255, 255, 255, 0) 100%);
    height: 136px;
}
.title-alternative{
    font-size: 1.125rem;
    font-weight: 800;
    margin-bottom: 14px;
}
.great-tea-text > p{
    margin-top: 30px;
    margin-bottom: 30px;
}
.great-tea-text-child{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* great tea section related style ends */
/* super clint section related styles starts */
.super-clint{
    max-width: 1140px;
    margin: 0 auto;
    background: url("../images/bg_cup.png"), linear-gradient(270.00deg, rgb(255, 0, 0) 0%,rgb(255, 137, 56) 100%);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: 26% 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 103px 70px 80px 70px;


}
.clint-text{
    width: 440px;
}
.clint-text-title{
    font-size: 2.8rem;
    font-weight: 800;
    color: rgb(244, 244, 244);
    margin-bottom: 34px;

}
.clint-text-description{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(244, 244, 244);
    margin-bottom: 30px;
    line-height: 28px;


}
.clint-btn{
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 27px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 14px 25px 15px 28px;
    border: none;
}
.clint-btn p{
    background: linear-gradient(270.00deg, rgb(255, 0, 0),rgb(255, 137, 56));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.clint-card-container{
    position: relative;
}
.clint-card{
    width: 390px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    position: relative;
    padding: 30px;
}
.clint-card-text{
    color: rgb(119, 119, 119);
    margin-bottom: 20px;
}
.clint-name{
    font-weight: 700;
    margin-bottom: 5px;
}
.clint-occupation{
    color: rgb(93, 90, 111);
    font-weight: 500;
}
.profile-pic{
    position: absolute;
    left: -5%;
    top: -10%;
}
.circle-icon{
    position: absolute;
    left: 90%;
    bottom: 10%;

}
.clint-card-container-child{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 57px;
}
.clint-cart-absolute{
    position: absolute;
    left: -20%;
    top: 25%;
}
.clint-card-1{
    opacity: 0.3;
}
/* super clint related styles ends */
/* events section related style starts */
.events{
    max-width: 1140px;
    margin: 120px auto;
}
.events-text{
    width: 900px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.events-card-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.events-card{
    width: 364px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 10px;
}
.events-card-img{
    width: 320px;
    height: 190px;
    margin: 22px auto;
   
}
.events-card-img img{
    width: 100%;
    height: 100%;
    border: 3px dashed rgb(210, 210, 210);
}
.events-card-text{  
    margin: 0 22px 20px 32px;
}
.events-card-text-date{
    font-weight: 500px;
    color: rgb(119, 119, 119);
    margin-bottom: 10px;
}
.learn-more{
   margin-top: 10px;
}
.learn-more a{
   text-decoration: none;
   font-weight: 700;
   color: black;
}
/* events section related style ends */
/* footer related style starts here */
footer{
    background: linear-gradient(270.00deg, rgba(255, 0, 0, 0.1),rgba(255, 137, 56, 0.1) 100%);
}
.footer-section{
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0;
}
.footer-child-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.footer-child-1 ul li{
    list-style: none;
}
.footer-child-1 ul{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 65px;
}
.footer-child-2{
    display: flex;
    justify-content: space-between;
}
.footer-child-2 ul li{
    list-style: none;
}
.footer-child-2 ul li a{
    text-decoration: none;
}
.footer-child-3{
    margin-top: 100px;
    text-align: center;
}
.footer-text{
    color: rgb(73, 73, 73);
}
.child-1-title{
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(28, 28, 28);
    margin-bottom: 25px;
}
.child-1-list{
    color: rgb(73, 73, 73);
}
.quick-link-list li, .our-service-list li, .help-list li{
    margin-bottom: 18px;
}
.child-email-title{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 40px;
    color: rgb(28, 28, 28);
    margin-bottom: 47px;
}
.child-email{
    font-size: 0.8rem;
    color: rgb(73, 73, 73);
    line-height: 18px;
    margin: 0;
}
.email-container input[type="email"]{
    border-bottom: 1px solid rgb(73, 73, 73);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    font-size: 0.9rem;
    color: rgb(73, 73, 73);
    line-height: 18px;
    height: 15px;
    width: 273px;
}
.email-container input{
    margin: 0;
}
.email-container-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* footer related style ends here */






/* responsive media query starts */
@media screen and (max-width: 576px){
    .section-title{
        font-size: 2.3rem;
        line-height: 110%;
    }

     header{
        margin-top: 30px;
        margin-left: 0;
     }
    .header-relative{
        flex-direction: column;        
    }
    .header-relative{
        gap: 60px;
    }
    .banner-text{
        width: calc(100% - 40px);
        height: auto;
        margin: 0 auto;
    }
    .banner-title{
        font-size: 2.8rem;
        line-height: 100%;
        margin-bottom: 50px;
    }
    .banner-img{
        width: calc(100% - 30px);
        margin: 0 auto;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-text button{
        margin-top: 30px;
    }
    .banner-card{
        width: 210px;
        height: auto;
        padding: 10px;
        left: 1%;
    }
    .product-text-1{
        width: calc(100% - 25px);
    }


    .product-container{
        flex-direction: column;
        align-items: center;
    }
    .great-tea{
        flex-direction: column-reverse;
    }
    .great-tea-img-container{
        width: calc(100% - 30px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .great-tea-img-1{
        width: 238px;
        height: 136px;
    }
    .great-tea-img-2{
       width: 238px;
       height: 355px;
    }
    .great-tea-img-3{
        width: 238px;
        height: 355px;
       
    }
    .great-tea-img-4{
        width: 238px;
        height: 136px;
    }
    .great-tea-text{
        width: calc(100% - 30px);
        margin: 20px auto;
    }
    .super-clint{
        max-width: calc(100% - 20px);
        flex-direction: column;
        margin-top: 100px;
        padding: 20px;
        gap: 80px;
    }
    .clint-text{
        width: calc(100% - 20px);
        margin: 30px auto;
    }
    .clint-card{
        width: calc(100% - 30px);
    }
    .clint-cart-absolute{
        left: 0.1%;
    }
    .events-text{
        width: calc(100% - 30px);
    }
    .events-card-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .events-card{
        width: 90%;
    }
    .events-card-img{
        width: 90%;
    }
    .footer-child-1{
        flex-direction: column;
        gap: 20px;
        width: calc(100% - 30px);
        margin: 0 auto;
    }
    .footer-child-1 ul{
        margin-right: 0;
        width: 100%;
    }
    .footer-child-2{
        flex-direction: column;
        gap: 30px;
        width: calc(100% - 40px);
        margin: 50px auto;
    }
    .email-container-child{
        width: 100%;
    }

}
    